@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .logo {
  padding: 25px 0;
  width: 100%;
  -webkit-box-shadow: -1px -5px 10px black;
          box-shadow: -1px -5px 10px black;
  text-align: center;
  z-index: 1;
}

.head a {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 30px;
  font-size: 1.5rem;
  color: black;
  z-index: 100;
}

.head a:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.head .position {
  text-align: center;
  width: 100%;
  background-color: #dfe0e1bb;
  font-weight: 700;
  color: #414141;
  font-size: 17px;
}

.head .position p {
  margin-right: 45px;
}

.head .position .fa-solid {
  margin-right: 25px;
}

.explore {
  text-align: center;
  background-color: #cfc5c530;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.explore h1 {
  margin: 0;
  width: 70%;
}

.explore p {
  margin: 15px;
  width: 78%;
  font-size: 23px;
  color: #414141;
}

.explore .explore-btn {
  margin: 25px;
}

.explore .explore-btn button {
  padding: 22px 28px;
  border-radius: 100px;
  font-size: 18px;
  background: #9656dc;
  background: linear-gradient(355deg, #9656dc 0%, #ff79da 100%);
  border: none;
  color: white;
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
  font-weight: 700;
}

.explore .explore-btn button:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-box-shadow: 2px 1px 5px black;
          box-shadow: 2px 1px 5px black;
}

.fonctionnement {
  width: 100%;
  margin-top: 60px;
}

.fonctionnement h2 {
  font-size: 30px;
  margin-left: 20px;
}

@media screen and (min-width: 750px) {
  .fonctionnement h2 {
    text-align: center;
  }
}

@media screen and (min-width: 1100px) {
  .fonctionnement h2 {
    margin: 70px 120px;
    font-size: 2.5rem;
  }
}

.fonctionnement .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  .fonctionnement .card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: none;
  }
}

.fonctionnement .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 90px;
  background-color: #cbd3d136;
  border-radius: 30px;
  margin: 10px 0;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.229);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.229);
}

.fonctionnement .card-container .card:hover {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.fonctionnement .card-container .card:hover .fa-solid {
  color: #9656DC;
}

@media screen and (min-width: 1100px) {
  .fonctionnement .card-container .card {
    position: relative;
    width: 23%;
    height: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.fonctionnement .card-container .card p {
  font-weight: 700;
  font-size: 18px;
}

@media screen and (min-width: 1100px) {
  .fonctionnement .card-container .card p {
    text-align: center;
    font-size: 21px;
  }
}

.fonctionnement .card-container .card .fa-solid {
  margin-right: 30px;
  font-size: 25px;
  color: grey;
}

@media screen and (min-width: 1100px) {
  .fonctionnement .card-container .card .fa-solid {
    margin: 0;
    font-size: 30px;
  }
}

.fonctionnement .card-container .card .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-right: 30px;
  margin-left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background-color: #9656DC;
  color: wheat;
}

@media screen and (min-width: 1100px) {
  .fonctionnement .card-container .card .number {
    position: absolute;
    margin: 0;
    top: -15px;
    left: -15px;
    width: 50px;
    height: 50px;
  }
}

.fonctionnement .card-container .card .number span {
  font-size: 14px;
}

@media screen and (min-width: 1100px) {
  .fonctionnement .card-container .card .number span {
    font-size: 20px;
  }
}

.restaurant {
  width: 100%;
  background-color: #cfc5c530;
  margin-top: 90px;
  padding-bottom: 50px;
}

.restaurant h2 {
  font-size: 30px;
  margin: 0 0 25px 20px;
  padding-top: 70px;
}

@media screen and (min-width: 750px) {
  .restaurant h2 {
    text-align: center;
  }
}

@media screen and (min-width: 1100px) {
  .restaurant h2 {
    margin-bottom: 60px;
    font-size: 2.5rem;
  }
}

.restaurant .card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 750px) {
  .restaurant .card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.restaurant .card-container a {
  text-decoration: none;
  color: black;
}

.restaurant .card-container a:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.restaurant .card-container .card {
  position: relative;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 310px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.056);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.056);
  overflow: hidden;
  background-color: white;
  margin-bottom: 25px;
}

@media screen and (min-width: 750px) {
  .restaurant .card-container .card {
    width: 40%;
    max-width: 600px;
  }
}

.restaurant .card-container .card .new {
  position: absolute;
  border: 1px solid #0e8f70;
  background-color: #99e2d0;
  color: #0e8f70;
  right: 20px;
  top: 20px;
}

.restaurant .card-container .card .new p {
  margin: 8px 15px;
}

.restaurant .card-container .card .img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 230px;
}

.restaurant .card-container .card .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurant .card-container .card .bot {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  margin-top: 5px;
}

.restaurant .card-container .card .bot h3 {
  margin: 10px 0 5px 0;
}

.restaurant .card-container .card .bot p {
  margin: 0;
  font-weight: 400;
}

.restaurant .card-container .card .bot i {
  font-size: 30px;
  margin-right: 20px;
  position: absolute;
  right: 0;
}

.restaurant .card-container .card .bot .fas {
  color: transparent;
  background: linear-gradient(355deg, #9656dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

.restaurant .card-container .card .bot .fas:hover {
  cursor: pointer;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
  opacity: 1;
}

footer {
  background-color: #313333;
  color: white;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1100px) {
  footer {
    text-align: center;
  }
}

footer h4 {
  font-size: 20px;
  font-family: 'Shrikhand';
  font-weight: 400;
  margin: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 1100px) {
  footer h4 {
    font-size: 30px;
  }
}

footer a {
  color: white;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  text-decoration: none;
}

@media screen and (min-width: 1100px) {
  footer a {
    font-size: 20px;
  }
}

footer a i {
  margin-right: 10px;
  font-size: 12px;
}

.menu_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
}

.menu_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu {
  width: 100%;
  margin-top: -60px;
  background-color: #f6f6f6;
  padding-bottom: 20px;
}

.menu .menu_title {
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 460px) {
  .menu .menu_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu .menu_title h1 {
  font-family: 'Shrikhand', sans-serif;
  font-size: 2.2rem;
  margin-left: 30px;
  letter-spacing: 1px;
}

.menu .menu_title i {
  font-size: 30px;
  margin-right: 50px;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 460px) {
  .menu .menu_title i {
    left: 50%;
    margin-left: -15px;
    bottom: 0;
  }
}

.menu .menu_title .fas {
  color: transparent;
  background: linear-gradient(355deg, #9656dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

.menu .menu_title .fas:hover {
  cursor: pointer;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
  opacity: 1;
}

.menu .menu-container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  .menu .menu-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 100px;
  }
}

.menu .menu-container h2 {
  border-bottom: 3px solid #99e2d0;
  width: 47px;
  text-transform: uppercase;
  color: #6b6b6b;
  font-size: 1.2rem;
  padding-bottom: 6px;
  font-weight: 400;
}

@media screen and (min-width: 750px) {
  .menu .menu-container h2 {
    margin: 20px auto;
  }
}

@media screen and (min-width: 1100px) {
  .menu .menu-container h2 {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .menu .menu-container .menu-item {
    width: 30%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu .menu-container .menu-item .menu-card {
  height: 75px;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 18px;
  -webkit-animation: appear 1000ms;
          animation: appear 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.056);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.056);
}

.menu .menu-container .menu-item .menu-card:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu .menu-container .menu-item .menu-card:nth-child(3) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.menu .menu-container .menu-item .menu-card:nth-child(4) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu .menu-container .menu-item .menu-card:nth-child(5) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

@media screen and (min-width: 1100px) {
  .menu .menu-container .menu-item .menu-card {
    margin: 0;
    margin-bottom: 18px;
  }
}

.menu .menu-container .menu-item .menu-card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .menu-container .menu-item .menu-card .content .price {
  margin-bottom: 10px;
}

.menu .menu-container .menu-item .menu-card .content span {
  margin: 0 20px 15px 0;
  font-weight: 700;
  color: #454545;
}

.menu .menu-container .menu-item .menu-card .content .menu-txt {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .menu-container .menu-item .menu-card .content .menu-txt h3 {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .menu-container .menu-item .menu-card .content .menu-txt p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #555555;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 1100px) {
  .menu .menu-container .menu-item .menu-card .content .menu-txt p {
    font-size: 0.9rem;
  }
}

.menu .menu-container .menu-item .menu-card .select {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  margin-right: -8rem;
  -webkit-transition: margin-right 0.5s ease-in-out;
  transition: margin-right 0.5s ease-in-out;
}

.menu .menu-container .menu-item .menu-card .select .fas {
  font-size: 2.1rem;
  color: white;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.menu .menu-container .menu-item .menu-card:hover {
  cursor: pointer;
}

.menu .menu-container .menu-item .menu-card:hover .select {
  margin-right: 0;
}

.menu .menu-container .menu-item .menu-card:hover .select .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.menu .btn-menu {
  text-align: center;
  margin: 50px auto;
}

@media screen and (min-width: 1100px) {
  .menu .btn-menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    margin-left: -107px;
  }
}

.menu .btn-menu button {
  padding: 22px 28px;
  border-radius: 100px;
  font-size: 18px;
  background: #9656dc;
  background: linear-gradient(355deg, #9656dc 0%, #ff79da 100%);
  border: none;
  color: white;
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
  font-weight: 700;
  padding: 18px 55px;
}

.menu .btn-menu button:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-box-shadow: 2px 1px 5px black;
          box-shadow: 2px 1px 5px black;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes returnAnimation {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: -7rem;
  }
}

@keyframes returnAnimation {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: -7rem;
  }
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 20;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-animation: disapear 500ms 3s forwards;
          animation: disapear 500ms 3s forwards;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.loader::after {
  content: "Loading...";
  position: absolute;
  height: 150px;
  width: 250px;
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: "Shrikhand", sans-serif;
  -webkit-animation: translate 1.5s infinite ease-in-out alternate;
          animation: translate 1.5s infinite ease-in-out alternate;
}

.loader::before {
  content: "";
  position: absolute;
  height: 250px;
  width: 250px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-right: 10px solid transparent;
  border-top: 6px solid #9656DC;
  border-radius: 100%;
  -webkit-animation: spin 1.5s ease-in infinite;
          animation: spin 1.5s ease-in infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disapear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disapear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes translate {
  from {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  to {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes translate {
  from {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  to {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}
/*# sourceMappingURL=style.css.map */