@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

// VARIABLES

$primary: #9656DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$backpos: #f3ebeb;
$backexp: #f4e9e963;
// BASES

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif ;
    overflow-x: hidden;
}


// HEADER LOGO

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        padding: 25px 0;
        width: 100%;
        box-shadow: -1px -5px 10px black;
        text-align: center;
        z-index: 1;
    }

// HEADER POSITION

    .position {
        text-align: center;
        width: 100%;
        background-color: $backpos;
        font-weight: 700;
        color: rgb(65, 65, 65);
        font-size: 17px;
        .fa-solid {
            margin-right: 25px;
        }
    }
}

// HEADER EXPLORE

.explore {
    text-align: center;
    background-color: $backexp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    h1 {
        margin: 0;
        width: 70%;
    }
    p {
        margin: 15px;
        width: 78%;
        font-size: 23px;
        color: rgb(65, 65, 65);
    }

    .explore-btn {
        margin: 25px;
        button {
            padding: 22px 28px;
            border-radius: 100px;
            font-size: 18px;
            background-color: $primary;
            border: none;
            color: wheat;
            box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
            font-weight: 700;

            &:hover {
                cursor: pointer;
                filter: brightness(1.30);
                transition: 0.6s ease;
                box-shadow: 2px 1px 5px rgb(0, 0, 0);
            }
        }
    }
}

// MAIN FONCTIONNEMENT

.fonctionnement {
    width: 100%;
    h2 {
        margin-left: 20px;
    }
    .card-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card {
            display: flex;
            align-items: center;
            width: 90%;
            height: 90px;
            background-color:#cbd3d136;
            border-radius: 30px;
            margin: 10px 0;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.229);

            p {
                font-weight: 700;
                font-size: 18px;
            }

            .fa-solid {
                margin-right: 70px;
                font-size: 25px;
                color: grey;
            }
            
            .number {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                margin-right: 40px;
                margin-left: -15px;
                width: 25px;
                height: 25px;
                border-radius: 100px;
                background-color: $primary;
                color: wheat;
                p {
                    font-size: 14px;
                }
            }
        }
    }
}
