@import '../utils/variables';

// MAIN HEAD

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: $backpos;
    font-weight: 400;
    color: rgb(65, 65, 65);
    font-size: 17px;

    input {
        background-color: transparent;
        border: none;
        &::placeholder {
            color: rgb(65, 65, 65);
            font-size: 16px;
            font-weight: 400;
        }
    }
    p {
        margin-right: 45px;
    }
        
    .fa-solid {
        margin-right: 18px;
    }
}

.explore {
    text-align: center;
    background-color: $backexp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    h1 {
        margin: 0;
        width: 70%;
    }
    p {
        margin: 15px;
        width: 78%;
        font-size: 23px;
        color: rgb(65, 65, 65);
    }

    .explore-btn {
        margin: 25px;
        button {
            @include button;
        }
    }
}

// Main FONCTIONNEMENT

.fonctionnement {
    width: 100%;
    margin-top: 60px;

    h2 {
        font-size: 30px;
        margin-left: 20px;
        @include tab-only {
            text-align: center;
        }

        @include desk-only {
            margin: 70px 120px;
            font-size: 2.5rem;
        }
    }

    .card-container {
        display: flex;
        width: 100%;
        max-width: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        @include desk-only{
            flex-direction: row;
            justify-content: space-evenly;
            max-width: none;
        }

        .card {
            display: flex;
            align-items: center;
            width: 90%;
            height: 90px;
            background-color:#cbd3d136;
            border-radius: 30px;
            margin: 10px 0;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.229);
            &:hover {
                transition: 0.4s ease-in-out;
                cursor: pointer;
                filter: brightness(0.8);

                .fa-solid {
                    color: $primary;
                }
            }

            @include desk-only {
                position: relative;
                width: 23%;
                height: 180px;
                flex-direction: column;
                justify-content: space-evenly;

            }
            p {
                font-weight: 700;
                font-size: 18px;
                @include desk-only {
                    text-align: center;
                    font-size: 21px;
                }
            }

            .fa-solid {
                margin-right: 30px;
                font-size: 25px;
                color: grey;
                @include desk-only {
                    margin: 0;
                    font-size: 30px;
                }
            }
            
            .number {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                margin-right: 30px;
                margin-left: -15px;
                width: 25px;
                height: 25px;
                border-radius: 100px;
                background-color: $primary;
                color: wheat;
                @include desk-only {
                    position: absolute;
                    margin: 0;
                    top: -15px;
                    left: -15px;
                    width: 50px;
                    height: 50px;
                    
                }
                span {
                    font-size: 14px;
                    @include desk-only {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

// MAIN RESTAURANT

.restaurant {
    width: 100%;
    background-color: $backexp;
    margin-top: 90px;
    padding-bottom: 50px;
    h2 {
        font-size: 30px;
        margin: 0 0 25px 20px;
        padding-top: 70px;

        @include tab-only {
            text-align: center;
        }

        @include desk-only {
            margin-bottom: 60px;
            font-size: 2.5rem;
        }
    }    

    .card-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @include tab-only {
            flex-direction: row;
            flex-wrap: wrap;
        }

        a {
            text-decoration: none;
            color: black;
            &:hover {
                transform: scale(1.01);
                transition: 0.4s ease;
            }
        }
        .card {
            position: relative;
            width: 80%;
            object-fit: cover;
            height: 310px;
            border-radius: 20px;
            box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.056);
            overflow: hidden;
            background-color: white;
            margin-bottom: 25px;

            @include tab-only {
                width: 40%;
                max-width: 600px;
            }

            .new {
                position: absolute;
                border: 1px solid #0e8f70;
                background-color: #99e2d0;
                color: #0e8f70;
                right: 20px;
                top: 20px;
                p {
                    margin: 8px 15px;
                }
            }

            .img{
                object-fit: cover;
                width: 100%;
                height: 230px;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .bot {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 15px;
                margin-top: 5px;
                h3 {
                    margin: 10px 0 5px 0;
                }

                p {
                    margin: 0;
                    font-weight: 400;
                }

                i{
                    font-size: 30px;
                    margin-right: 20px;
                    position: absolute;
                    right: 0;
                }

                .fas {
                    @include fasHeart;
                }
                
            }
        }
    }    
}