// HEADER LOGO

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        padding: 25px 0;
        width: 100%;
        box-shadow: -1px -5px 10px black;
        text-align: center;
        z-index: 1;
    }

// HEADER POSITION

    .position {
        text-align: center;
        width: 100%;
        background-color: $backpos;
        font-weight: 700;
        color: rgb(65, 65, 65);
        font-size: 17px;
        .fa-solid {
            margin-right: 25px;
        }
    }
}

// HEADER EXPLORE

.explore {
    text-align: center;
    background-color: $backexp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    h1 {
        margin: 0;
        width: 70%;
    }
    p {
        margin: 15px;
        width: 78%;
        font-size: 23px;
        color: rgb(65, 65, 65);
    }

    .explore-btn {
        margin: 25px;
        button {
            @include button;
        }
    }
}