.menu_img {
    object-fit: cover;
    width: 100%;
    height: 400px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

// MENU 

.menu {
    width: 100%;
    margin-top: -60px;
    background-color: #f6f6f6;
    padding-bottom: 20px;
    .menu_title {
        position: relative;
        width: 100%;
        background-color: #f6f6f6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        
        h1 {
            font-family: 'Shrikhand', sans-serif;
            font-size: 2.2rem;
            margin-left: 30px;
            letter-spacing: 1px;
        }

        i{
            font-size: 30px;
            margin-right: 50px;
            position: absolute;
            right: 0;
        }

        .fas {
            @include fasHeart;
        }
    }

    .menu-container {
        width: 90%;
        margin: 0 auto;

        @include desk-only {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: top;
            padding-bottom: 100px;
        }

        h2 {
            border-bottom: 3px solid #99e2d0;
            width: 47px;
            text-transform: uppercase;
            color: #6b6b6b;
            font-size: 1.2rem;
            padding-bottom: 6px;
            font-weight: 400;

            @include tab-only {
                margin: 20px auto;
            }

            @include desk-only {
                margin-left: 20px;
            }
        }

        .menu-item {
            @include desk-only {
                width: 30%;
                flex-wrap: wrap;
            }
            .menu-card {
                @for $i from 2 through 4 {
                    &:nth-child(#{$i}) {
                        animation-delay: 150ms * $i;
                    }
                }
                height: 75px;
                max-width: 500px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                background-color: white;
                border-radius: 20px;
                margin: 0 auto;
                margin-bottom: 18px;
                animation: appear 1000ms;
                animation-fill-mode: both;
                overflow: hidden;
                @include card-shadow;

                @include desk-only {
                    margin: 0;
                    margin-bottom: 18px;
                }
                
                .content {
                    display: flex;
                    justify-content: space-between; 
                    align-items: flex-end;
                    width: 100%;  
                    @include threelittledot;

                    .price {
                        margin-bottom: 10px;
                    }
                    span {
                        margin: 0 20px 15px 0;
                        font-weight: 700;
                        color: #454545;

                    }

                    .menu-txt {
                        margin-left: 10px;
                        @include threelittledot;
    
                        h3 {
                            margin: 10px 0;
                            @include threelittledot;
                        }
        
                        p {
                            @include threelittledot;
                            color: #555555;
                            margin: 0;
                            margin-bottom: 10px;

                            @include desk-only {
                                font-size: 0.9rem;
                            }
                        }
                    }

                }
                .select {
                    height: 100%;
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #99e2d0;
                    margin-right: -8rem;
                    transition: margin-right 0.5s ease-in-out;
                    
                    .fas {
                        font-size: 2.4rem;
                        color: white;
                        transform: rotate(-360deg);
                        
                    }
                }
                
                &:hover {
                    cursor: pointer;
                    .select {
                        margin-right: 0;
                        
                        
                        .fas {
                            transform: rotate(0deg);
                            transition: 1s ease;
                        }
                    }
                }

            }
        }
    }
        


    .btn-menu {
        text-align: center;
        margin: 50px auto;
        
        @include desk-only{
            position: absolute;
            bottom: 0;
            left: 50%;
            margin: 0;
            margin-left: -107px

        }
        
        button {
            @include button;
            padding: 18px 55px;
        }
    }
}