@keyframes appear {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes returnAnimation {
    0% {
        margin-right: 0;
    }

    100% {
        margin-right: -7rem;
    }
}